$width: 120px;
$oxColor: #ededed;
$rgbColor: rgb(60,160,250);
$rgbaColor: rgba(0,0,0, .8);
$wordColor: green;


.wrap {
  width: $width;
  
  &_first{
    color: opacify($rgbaColor, .3);
    background-color: transparentize($wordColor, 0.5);
  }

  &_second {
    background-color: $oxColor;
  }

  &_third{
    border: 1px $rgbaColor solid;
    &:hover{
      color: pink;
    }
  }

  &_fouth {
    @extend .wrap_third;
    border-width: 3px;
  }
}


@mixin  before-context($selector) {
  #{$selector}::after {
    content: '';
    width: $width;
    height: $width;
    background-color: springgreen;
    position: absolute;
  }
}

@include before-context('.wrap_fifth')
// +before-context('.wrap_fifth');