
@mixin flex ($alignItems: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}


@mixin card ($text-color, $bg-color) {
  @include flex;
  max-width: 200px;
  padding: 8px;
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid darken($color: $text-color, $amount: .2) {
    radius: 4px;
  };
  cursor: pointer;
}