// partials

$primary-color: #123456;
$primary-color-2: #234567;
$primary-color-3: #345678;
$primary-color-4: #456789;
$primary-color-5: #56789a;
$primary-color-6: #6789ab;
$primary-color-7: #789abc;
$primary-color-8: #89abcd;
$primary-color-9: #9abcde;
$primary-color-a: #abcdef;
$primary-color-b: #bcbcbc;
$primary-color-c: #cdcdcd;
$primary-color-d: #dedede;
$primary-color-e: #efefef;

$success-color-1: #38803d;
$success-color-9: #d2e7d3;


$primary-size: 12px;
$primary-size-x: 16px;
$primary-size-2x: 20px;
$primary-size-3x: 24px;
$primary-size-4x: 28px;
$primary-size-5x: 32px;



$primary-border: 1px solid $primary-color-6;



