@mixin  box-shadow ($shadows...){
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

.page-3 {
  @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
  // +box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
}

@mixin colors($color, $bgColor, $border) {
  color: $color;
  background-color: $bgColor;
  border: 1px solid $border;
}

$values: #ff0000, #00ff00,#0000ff;

.page-4 {
  @include colors($values...)
}