
@for $li from 1 to 4 {
  .item-#{$li} {
    width: 2em * $li;
    background-color: pink;
  }
}


@for $li from 1 through 4 {
  .items-#{$li} {
    width: 2em * $li;
    background-color: pink;
  }
}

@each $li in a,b,c,d {
  .icon-#{$li} {
    background-color: #ffeedd;
  }
}

$i: 6;
@while $i > 0 {
  .cur-#{$i} {
    width: 2em * $i;
    background-color: saddlebrown;
  }
  $i: $i - 2;
}