::-webkit-scrollbar{
  width: 5px;
  height: 5px; 
  background-color: darkcyan;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50,50,50,.3);
}

::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50,50,50,.1);
}

.father {
  height: 80px;
  background: seashell;
  overflow-y: scroll;
  overflow-x: hidden;
}